---
import { incrementCounter, getCounterId, getCounterText } from './CountersTools'

const [type, name] = Astro.props.label.split(':')
const counterId = getCounterId(type, name)
incrementCounter(type, name)
const counterText = getCounterText(type, name)
---

<span id={counterId}>{counterText}</span>

