---
import { getCounterText, getCounterId } from './CountersTools';

const [type, name] = Astro.props.label.split(':');
const counterId = getCounterId(type, name);
const counterText = getCounterText(type, name);
---

<a href={'#' + counterId} class={`counter-ref--${type}`} data-type={type} data-name={name}>{counterText}</a>

